[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Aa]ssets/[Ee]ditor/[Pp]reparer[Ff]or[Oo]utlining[Mm]aps/[Ss]creen[Ss]hots/
[Aa]ssets/[Ee]ditor/[Pp]reparer[Ff]or[Oo]utlining[Mm]aps/[Ss]creen[Ss]hots.meta
[Aa]ssets/[Rr]uler/*
[Aa]ssets/[Rr]uler.meta
[Aa]ssets/[Pp]ro[Cc]ore/*
[Aa]ssets/[Pp]ro[Cc]ore.meta
[Mm]emoryCaptures/*
[Uu]serSettings/

.vs/
*.csproj
*.sln
.idea/
*.*.iml
[Aa]ssets/[Pp]lugins/[Ee]ditor/[Jj]et[Bb]rains/*
[Aa]ssets/[Pp]lugins/[Ee]ditor/[Jj]et[Bb]rains.meta
SIGGRAPH2018-StudioWorkshop.sln.DotSettings.user
